<html xmlns:fo="http://www.w3.org/1999/XSL/Format"><HEAD><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></HEAD></html><body xmlns:fo="http://www.w3.org/1999/XSL/Format">
<p><a name="0"><span title="котик S, nom, acc, sg, m, anim, inan (&lt;b&gt;TAuxDicArticle [диминутивы_ик]&lt;/b&gt;) ">котик</span> 
							 
						<b> EOS</b> </a><p></p></p>
<table border="1"><tbody>
<tr align="center"><td colspan="10"><font color="#0000FF"><b>Fact</b></font></td></tr>
<tr align="center"><th><b>Name</b></th></tr>
<tr align="center"><td><a href="#0">котик</a></td></tr>
</tbody></table>
<table border="1"><tbody>
<tr align="center">
<th>Text</th>
<th>Type</th>
</tr>
<tr align="center">
<td><a href="#0">котик</a></td>
<td>TAuxDicArticle [диминутивы_ик]</td>
</tr>
</tbody></table>
</body>
