<html xmlns:fo="http://www.w3.org/1999/XSL/Format"><HEAD><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></HEAD></html><body xmlns:fo="http://www.w3.org/1999/XSL/Format">
<p><a name="0"><span title="о INTJ
о PR
о S, abbr, nom, gen, dat, acc, ins, abl, sg, pl">О</span> 
							 
						<span title="проект S, abl, sg, m, inan">проекте</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="1"><span title="пример S, nom, acc, sg, m, inan">Пример</span> 
							 
						<span title="извлечение S, nom, gen, acc, sg, pl, n, inan">извлечения</span> 
							 
						<span title="формальный A, gen, acc, abl, pl, plen, anim">формальных</span> 
							 
						<span title="грамматик S, nom, sg, m, anim
грамматика S, gen, pl, f, inan">грамматик</span> 
							 
						<span title="на PART
на PR">на</span> 
							 
						<span title="основа S, dat, abl, sg, f, inan">основе</span> 
							 
						<span title="томиты ">Томиты</span> 
							 
						<span title="парсера ">парсера</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="2"><span title="возможность S, nom, gen, dat, acc, abl, sg, pl, f, inan">Возможности</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="3"><span title="извлечение S, nom, acc, sg, n, inan">Извлечение</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="4"><span title="в PR
в S, abbr, nom, gen, dat, acc, ins, abl, sg, pl">В</span> 
							 
						<span title="дать V, praet, abl, sg, partcp, plen, m, n, pf, pass, tran
данный A, abl, sg, plen, m, n">данном</span> 
							 
						<span title="пример S, abl, sg, m, inan">примере</span> 
							 
						<span title="демонстрироваться V, praes, inpraes, sg, indic, 3p, ipf, intr">демонстрируется</span> 
							 
						<span title="возможность S, nom, acc, sg, f, inan">возможность</span> 
							 
						<span title="интеграция S, nom, gen, dat, acc, abl, sg, pl, f, inan">интеграции</span> 
							 
						<span title="фориальных ">фориальных</span> 
							 
						<span title="граматик ">граматик</span> 
							 
						<span title="( ">(</span> 
							 
						<span title="прилагательное+существительное ">прилагательное+существительное</span> 
							 
						<span title=") ">)</span> 
							 
						<span title="с PR">с</span> 
							 
						<span title="интеграция S, ins, sg, f, inan">интеграцией</span> 
							 
						<span title="flask ">flask</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="5"><span title="информационный A, nom, acc, pl, plen, inan">Информационные</span> 
							 
						<span title="технология S, nom, gen, dat, acc, abl, sg, pl, f, inan">технологии</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="6"><span title="пример S, nom, acc, sg, m, inan">Пример</span> 
							 
						<span title="выполнить V, praet, sg, partcp, brev, m, pf, pass, tran">выполнен</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="рамка S, abl, pl, f, inan">рамках</span> 
							 
						<span title="курс S, gen, sg, m, inan">курса</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="посвятить V, praet, dat, sg, partcp, plen, m, n, pf, pass, tran">посвященному</span> 
							 
						<span title="интеграция S, nom, gen, dat, acc, abl, sg, pl, f, inan">интеграции</span> 
							 
						<span title="бэк ">бэк</span> 
							 
						<span title="и INTJ
и PART
и CONJ">и</span> 
							 
						<span title="фрон ">фрон</span> 
							 
						<span title="энда ">энда</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="7"><span title="преподаватель S, nom, sg, m, anim">Преподаватель</span> 
							 
						<span title=": ">:</span> 
							 
						<span title="степаненко S, famn, nom, gen, dat, acc, ins, abl, sg, pl, f, m, mf, anim">Степаненко</span> 
							 
						<span title="а. ">А.</span> 
							 
						<span title="а. ">А.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="8"><span title="этап S, nom, acc, pl, m, inan">Этапы</span> 
							 
						<span title="работа S, nom, gen, acc, sg, pl, f, inan">работы</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="9"><span title="томита ">Томита</span> 
							 
						<span title="формальный A, nom, acc, pl, plen, inan">формальные</span> 
							 
						<span title="грамматик S, nom, pl, m, anim
грамматика S, nom, gen, acc, sg, pl, f, inan">грамматики</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="10"><span title="насройка ">Насройка</span> 
							 
						<span title="грамматик S, nom, sg, m, anim
грамматика S, gen, pl, f, inan">грамматик</span> 
							 
						<span title=": ">:</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="11"><span title="конфигурация S, nom, sg, f, inan">Конфигурация</span> 
							 
						<span title="файл S, gen, pl, m, inan">файлов</span> 
							 
						<span title="proto ">proto</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="cxx ">cxx</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="gzt ">gzt</span> 
							 
						<span title="проверка S, nom, sg, f, inan">Проверка</span> 
							 
						<span title="работа S, nom, gen, acc, sg, pl, f, inan">работы</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="12"><span title="интеграция S, nom, sg, f, inan">Интеграция</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="13"><span title="flask+docker ">Flask+Docker</span> 
							 
						<span title=": ">:</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="14"><span title="установка S, nom, sg, f, inan">Установка</span> 
							 
						<span title="и INTJ
и PART
и CONJ">и</span> 
							 
						<span title="длокальный ">длокальный</span> 
							 
						<span title="запуск S, nom, acc, sg, m, inan">запуск</span> 
							 
						<span title="flask ">Flask</span> 
							 
						<span title="настройка S, nom, sg, f, inan">Настройка</span> 
							 
						<span title="контейнер S, gen, sg, m, inan">контейнера</span> 
							 
						<span title="docker ">Docker</span> 
							 
						<b> EOS</b> </a><p></p></p>
<table border="1"><tbody>
<tr align="center">
<th>Text</th>
<th>Type</th>
</tr>
<tr align="center">
<td><a href="#1">формальный грамматика</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#4">данный пример</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#5">информационный технология</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#9">формальный грамматика</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
</tbody></table>
</body>
