<html xmlns:fo="http://www.w3.org/1999/XSL/Format"><HEAD><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></HEAD></html><body xmlns:fo="http://www.w3.org/1999/XSL/Format">
<p><a name="0"><span title="сегодня ADV
сегодня S, nom, gen, dat, acc, ins, abl, sg, pl, n, inan">Сегодня</span> 
							 
						<span title="теплый A, nom, acc, sg, plen, m, inan">теплый</span> 
							 
						<span title="день S, nom, acc, sg, m, inan
деть V, sg, imper, 2p, pf">день</span> 
							 
						<span title="и INTJ
и PART
и CONJ">и</span> 
							 
						<span title="солнце S, nom, acc, abl, sg, n, inan">солнце</span> 
							 
						<span title="играть V, praes, inpraes, sg, indic, 3p, ipf, tran">играет</span> 
							 
						<span title="яркий A, ins, pl, plen">яркими</span> 
							 
						<span title="краска S, ins, pl, f, inan">красками</span> 
							 
						<span title="на PART
на PR">на</span> 
							 
						<span title="белоснежный A, abl, sg, plen, m, n">белоснежном</span> 
							 
						<span title="снег S, gen, dat, abl, part, loc, sg, m, inan">снегу</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="покрывать V, praes, inpraes, dat, ins, sg, pl, partcp, plen, m, n, ipf, act, tran">покрывающим</span> 
							 
						<span title="огромный A, nom, acc, pl, plen, inan">огромные</span> 
							 
						<span title="крыша S, nom, gen, acc, sg, pl, f, inan">крыши</span> 
							 
						<span title="забросить V, praet, gen, acc, abl, pl, partcp, plen, pf, pass, anim, tran">заброшенных</span> 
							 
						<span title="дом S, gen, pl, m, inan
домовый A, sg, brev, m">домов</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<table border="1"><tbody>
<tr align="center">
<th>Text</th>
<th>Type</th>
</tr>
<tr align="center">
<td><a href="#0">теплый день</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#0">яркий краска</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#0">белоснежный снег</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#0">огромный крыша</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#0">заброшенный дом</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
</tbody></table>
</body>
